@import "tailwindcss";

@theme {
    --color-primary:#080806
}

.primary-container {
    @apply container mx-auto px-4 sm:px-6 lg:px-8 
}

@keyframes marquee {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-50%);
    }
}

.animate-marquee {
    animation: marquee 30s linear infinite;
}